<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT-ng9uKZvZ3WeMJYyAUXzXq5vmDnxYVw</string>
	<key>GCM_SENDER_ID</key>
	<string>224269108898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neurooooo</string>
	<key>PROJECT_ID</key>
	<string>neurocare-123ab</string>
	<key>STORAGE_BUCKET</key>
	<string>neurocare-123ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224269108898:ios:3958e663a811027028b9fb</string>
</dict>
</plist>